<div class="posts">
  {% assign sorted_pages = site.pages | sort:"date" %}
  {% for procedure in sorted_pages reversed %}
    {% if procedure.layout == "procedure" %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ procedure.url }}">
            {{ procedure.title }}
          </a>
        </h1>

        <span class="post-date">{{ procedure.date | date_to_string }}</span>
        {{ procedure.content | strip_html | truncatewords:50 }}
      </div>
    {% endif %}
  {% endfor %}
</div>
